body{
  background: #000;
  color: #fff;
}

.App{
  text-align: center;
  padding:5%;
}

.App-title{
  font-size: 30px;
}

/*Profile*/

.Profile{
  display:flex;
  justify-content: center;
}

.Profile-img{
  width:150px;
  height:150px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

.Profile-info{
  padding-left: 10px;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.Profile-name{
  font-size: 26px;
}

.Profile-followers, .Profile-genres{
  font-size: 18px;
}

/*Gallery*/

.Gallery{
  margin-top: 20px;
}

.Track{
  display: inline-block;
  width: 220px;
  height: 220px;
  text-align: left;
  margin:10px;
  cursor: pointer;
  position: relative;
}

.Track-image{
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 2px;
  position:absolute;
  object-fit: cover;
}

.Track-icon{
  width: 220px;
  height: 220px;
  position: absolute;
}

.Track-icon-inner{
  position: absolute;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: #000;
  font-size:30px;
  margin-left: 80px;
  margin-top:80px;
  padding-top: 7px;
  padding-left: 3px;
  opacity: 0;
}

.Track-icon-inner:hover{
  opacity: 0.8;
  animation-name:fade-in;
  animation-duration: 0.4s;
}

@keyframes fade-in {
  from{
    opacity:0;
  }
  to{
    opacity:0.8;
  }
}


.Track-text{
  background-color: #000;
  color: #fff;
  position: absolute;
  text-align: center;
  margin-left: 3px;
  width: 214px;
  opacity: 0.75;
  bottom: 0;
  padding: 10px;
}
